<ion-toolbar>
  <ion-title>
    <ion-title>
      TheBank
    </ion-title>
  </ion-title>
  <ion-buttons slot="end">
    <ion-button  color="danger" (click)="logout()">
      Logout
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-button color="danger" routerLink="/accounts" size="large" expand="block">account detail</ion-button>
<ion-button color="dark" routerLink="/deposit" size="large">deposit</ion-button>
<ion-button color="danger" routerLink="/withdraw" size="large">withdraw</ion-button>
<ion-button color="dark" routerLink="/new-account" size="large">new account</ion-button>

